

  html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
}
img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/*header styles start*/

.header{
    pading-top: 22px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: .2s linear;
    z-index: 100;
}
.header__active{
    background-color: #171616;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__ul{
    display: flex;}
.header__list{
    padding-right: 35px;
}
.header__list:last-child{
    padding-right: 0;
}
.header__nav_link{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}
.header__lang-ru{
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    padding-right: 8px;
}
.header__lang-en{
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}

.translate:hover {
    color:#9d2416 ;
}
.translate:focus {
    color: #DB2512;
}
.header__nav_link:hover, .header__nav_link:focus, .header__nav_link:active{
    opacity: 0.5;
}
/*header styles end*/

/*info styles start*/

.info{
    height: 100%;
    background: url(../img/road.jpg) no-repeat center;
    background-size: cover;
    padding-top: 217px;
}
.info__title{
    max-width: 791px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 53px;
}
.info__show{
    padding: 12px 48px 12px 48px;
    background-color: #DB2512;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: white;
    border: 0;
    }
.info__batton{
    padding-bottom: 305px;
}
.info__show:hover, .info__show:focus, .info__show:active{
    background-color: #9d2416;
}

/*info styles end*/

/*cards styles start*/

.cards__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
    transform: translateY(-50%);
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.card__info{
    padding: 39px 39px 37px 39px;
}
.card__pic{
    margin-bottom: 21px;
}
.card__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
}
.card__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7B7B7;
}
.cards{
    margin-bottom: 
}
/*cards styles end*/

/*services styles start*/

.services__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.services__title-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: black;
}
.services__cards{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
}
.services__card-title{
    margin-top: 21px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
}
.services{
    margin-bottom: 100px;
}
.services__card:hover .services__card-pic{
    transform: scale(1.03);
    opacity: 0.8;
}
.services__card-pic{
    width: 100%;
    transition: 0.2s all;
}
/*services styles end*/

/*about styles start*/
.about{
    height: 100%;
    background-color: #171616;
    background-size: cover;
}

.about__wrapper{
    padding-top: 117px;
    padding-bottom: 116px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about__title{
    max-width: 490px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about__text{
    max-width: 506px;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #B7B7B7;
    padding-top: 52px;
    padding-bottom: 48px;
}
.about__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about__pic{
    max-width: 513px;
}
/*about styles end*/


/*process styles start*/


.process-title{
    margin-top: 100px;
    font-weight: 900;
    font-size: 148px;
    line-height: 150%;
    text-align:center;
}
.process-text{
    margin-top: 58px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
}
.process-advantage{
    margin-top: 92px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 19px;
}
.advantage{
    padding: 31px 24px 26px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.advantage-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
}
.advantage-text{
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

/*process styles end*/


/*contacts styles start*/

.contacts{
    padding-top: 97px;
    padding-bottom: 97px;
    background: #171616;
    
}
.contacts-text{
    margin-bottom: 46px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: white;
    text-transform: uppercase;
}
.contacts-form-info{
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
}
.contacts-form-fild{
    margin-right: 46px;
    margin-bottom: 45px;
    width: 197px;
    border: 0;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: white;
    background-color: #171616;
}
.contacts-form-fild::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: rgb(118, 118, 118);
}
.contacts-fild{
    margin-right: 0;
}
.contacts-form-fild_lg{
    width: 440px;
    height: 100px;
    margin-right: 0;
    margin-top: 10px;
    white-space: wrap;
}
.contscts-form-send{
    padding: 12px 75px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: white;
    background-color:#DB2512;
}
/*contacts styles end*/

/*footer styles start*/

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    padding-bottom: 61px;
}
.footer-link{
    text-decoration: none;
    margin-left: 21px;
}
/*footer styles end*/
